.clover
.idea
.phpunit.cache
.phpunit.result.cache
.php-cs-fixer.cache
build.bat
composer.lock
dev
phpstan.neon
phpunit.xml
psalm.xml
vendor
src/Common/Http/cacert.pem
js/node_modules
js/package-lock.json
public/dist